name: Test

on:
  push:
  pull_request:

jobs:
  test:
    name: Swift Tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-13
          - macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show Swift Version
        run: swift --version

      - name: Run Tests
        run: swift test --disable-sandbox
